.masthead {
    background-color: rgb(26, 188, 156);
}

.masthead-avatar {
    margin-top: 10%;
    border-radius: 50%;
    border: 3px solid black;
}

.masthead-heading {
    font-size: 5rem;
    font-weight: bold;
}

.masthead-subheading {
    margin-bottom: 10%;
    font-size: 2rem;
}

.page-section-heading {
    font-size: 5rem;
    font-weight: bold;
}

.page-section-heading {
    margin-top: 10%;
}